@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright_yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light_gray: hsl(204, 43%, 93%);
  --gray_blue: hsl(218, 22%, 67%);

  /* font type */
  --karla: "Karla", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--light_gray);
  font-family: var(--karla);
  padding: 32px;
}
h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 0;
}
p {
  margin-top: 0;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  max-width: 40rem;
}
.card > * {
  padding: 28px 24px;
}
.community {
  background-color: #fff;
}
.community h2 {
  color: var(--cyan);
}
.community .subtitle {
  color: var(--bright_yellow);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.community p {
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--gray_blue);
}
.subs {
  background-color: var(--cyan);
  color: #fff;
}
.price {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
}
.price span {
  font-size: 16px;
  color: var(--light_gray);
  margin-left: 12px;
  font-weight: normal;
  opacity: 0.75;
}
.subs p {
  font-size: 14px;
  margin-bottom: 26px;
}
.subs button {
  background-color: var(--bright_yellow);
  border: none;
  color: #fff;
  opacity: 0.9;
  display: block;
  padding: 14px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: var(--karla);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.subs button:hover {
  cursor: pointer;
  background-color: hsl(70, 70%, 48%);
}
.info {
  background-color: var(--cyan);
  opacity: 0.75;
  color: var(--light_gray);
}
.info ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}
.info ul li {
  font-size: 13.5px;
  line-height: 1.5;
  opacity: 0.75;
}
@media only screen and (min-width: 1000px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .community {
    grid-column: 1 / 3;
  }
}
